main {
    align-self: center;
    width: 50%;
    margin-top: 20px;
}

.form-title {
    background-color: #ccc;
}

.form-title h2 {
    padding-left: 20px;
}

.form {
    margin-bottom: 30px;
    padding: 20px 20px 5px 20px;
    border-radius: 4px;
}

.form label {
    visibility: hidden;
}

.form textarea, .form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    min-height: 60px;
}

.form button {
    background-color: blue;
    color: #ccc;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form button:hover {
    background-color: #508ef2;
}

p {
    margin-top: 5px;
}

.invalid-feedback {
    margin-top: 16px;
    color: red;
}
