{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='animal_view.css') }}">
<div class="container">
    <main class="animal-view-container">
        <div class="animal-card">
                <img src="{{ url_for('static', filename='images/' + animal_image.file_name) }}" alt="{{ animal.name }}" class="animal-image">
                <div class="animal-info">
                    <div class="animal-name">{{ animal.name }}</div>
                    <div class="animal-details">{{ animal.breed }}, {{ animal.age }} мес. {{ animal.gender }}</div>
                    <div class="animal-status {% if animal.status == 'available' %}status-available{% else %}status-reserved{% endif %}">
                        {% if animal.status == 'available' %}Ищет хозяев{% else %} Запросов на усыновление: {{ animal.request_count }} {% endif %}
                    </div>
                    <div class="description"> {{ animal.description }}</div>
                </div>
                <div class="animal-buttons">
                    {% if current_user.is_authenticated %}
                        {% if current_user.user.role == "moderator" or current_user.user.role == "admin" %}
                            <a href="/animal_edit"><button class="btn-animal edit-animal">Редактировать</button></a>
                        {% endif %}
                        {% if current_user.user.role == "admin" %}
                            <a href="/animal_delete"><button class="btn-animal delete-animal">Удалить</button></a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
    </main>
</div>

{% endblock %}